{# templates/usuarios/formuario_editar.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Seleccionar Usuario para Editar</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}